<style type='text/css'>
.event {
	border:1px outset #996;
	margin:1em 0 1em 0; 
	padding:.5em 1em; 
	background-color:#ffd;
}
.event .time {
	font-weight: bold;
}
.event .author {
	font-weight: bold;
}
.event .dt { 
	border-bottom: 1px solid #dd9; 
}
.event .description 
</style>

<% if not @test_email.nil? -%>
<h3>Test email</h3>
<pre>
date_to  : <%= @date_to %>
date_from: <%= @date_from %>
days     : <%= @days %>
start    : <%= @start %>
now      : <%= Time.now %>
today    : <%= Time.now.to_date %>
</pre>
<% end -%>

<% if @events_by_day.blank? -%>
<p><%= l(:label_no_data) %></p>
<% else -%>
<div id="activity">
<% @events_by_day.keys.sort.each do |day| %>
<% @events_by_day[day].sort {|x,y| x.event_datetime <=> y.event_datetime }.each do |e| -%>
<div class="event">
  <p>
    <%= link_to format_activity_title(e.event_title), e.event_url({:only_path => false}) %>

    <div class="wiki">
      <span class="description"><%= textilizable e.event_description %></span>
    </div>
  </p>
</div>
<% end -%>
<% end -%>
</div>

<p><%= link_to(
	l(:label_activity_view_all), {
	:controller => 'activities', 
	:action => 'index', 
	:only_path => false}) %></p>
<% end -%>
